.nav {
  display: flex;
  flex-direction: row;
}

.nav__logo {
  position: relative;
  margin-top: 30px;
  margin-left: 30px;
  height: 39px;
  width: 105px;
  margin-bottom: 183px;
  margin-right: auto;
  padding: 0;
}

.nav__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 20px;
  padding: 0;
  margin: 30px 80px 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
}

.nav__link:hover {
  from {
    color: #000;
  }
  to {
    color: #2f80ed;
  }
}
